<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<nav th:replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="container-fluid">
    <div class="main-section">
        <p class="welcome-Notes">Welcome To Nimal Stores</p>
        <div class="col-12">
            <div class="row">
                <div class="col-7">
                    <div class="form-row">
                        <div class="col-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="tile wide invoice">
                                        <div class="header">
                                            <div class="count">
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                            </div>
                                            <div class="title">Employees</div>
                                        </div>
                                        <a href="/employee">
                                            <div class="body">
                                                <div class="title">Manage Employees</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="tile wide resource">
                                        <div class="header">
                                            <div class="">
                                                <div class="count"><i class="fa fa-shopping-cart"
                                                                      aria-hidden="true"></i>
                                                </div>
                                                <div class="title">Item</div>
                                            </div>
                                        </div>
                                        <a href="/petition">
                                            <div class="body">
                                                <div class="title">Item Management</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="tile wide quote">
                                        <div class="header">
                                            <div class="">
                                                <div class="count"><i class="fa fa-newspaper" aria-hidden="true"></i>
                                                </div>
                                                <div class="title">Purchase Order</div>
                                            </div>

                                        </div>
                                        <a href="/crime">
                                            <div class="body">
                                                <div class="title">PO Management</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="tile wide resource">
                                        <div class="header">
                                            <div class="">
                                                <div class="count"><i class="fa fa-universal-access"
                                                                      aria-hidden="true"></i>
                                                </div>
                                                <div class="title">GRN</div>
                                            </div>

                                        </div>
                                        <a class href="/offender">
                                            <div class="body">
                                                <div class="title">GRN Management</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="tile wide quote">
                                        <div class="header">
                                            <div class="">
                                                <div class="count"><i class="fa fa-home" aria-hidden="true"></i>
                                                </div>
                                                <div class="title">Inventory</div>
                                            </div>

                                        </div>
                                        <a href="/workingPlace">
                                            <div class="body">
                                                <div class="title">Stock Management</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="tile wide invoice">
                                        <div class="header">
                                            <div class="">
                                                <div class="count"><i class="fa fa-bug" aria-hidden="true"></i>
                                                </div>
                                                <div class="title">Customer</div>
                                            </div>

                                        </div>
                                        <a href="/workingPlace">
                                            <div class="body">
                                                <div class="title">Customer Management</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--To day petition list-->
                <div class="col-5 bg-dark formBorder">
                    <p class="welcome-Notes">To Day Sales Details</p>
                    <!--Petition Lists -->
                    <div class="container-fluid text-center" id="petitionListPresent">
                        <table class="table table-hover table-striped" id="myTable">
                            <thead>
                            <tr>
                                <th> Salesmen Number</th>
                                <th> Bill No</th>
                                <th> Date</th>
                                <th> Time</th>
                                <th> Modify</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr id="petitionList">
                                <th id="petitionNumber"></th>
                                <th id="petitionPriority"></th>
                                <th id="workingPlace"></th>
                                <th id="petitionState"></th>
                                <th>
                                    <a id="petitionView" class="btn btn-success btn-sm"><i
                                            class="fa fa-folder-open"></i>&nbsp;View</a>
                                </th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row" id="petitionListNotPresent">
                        <div class="col-sm-12">
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h3 class="text-center text-danger">
                                    <strong>There is no sales upto know please add sales to the system
                                            using add sales button.
                                    </strong>
                                </h3>
                            </div>
                        </div>
                        <script>
                            $(".alert").alert();
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--footer include-->
<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
<!--script include-->
<script th:replace="~{fragments/script :: scriptFragment}"></script>

</body>
</html>

