<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nimal Stores(Pvt)Ltd</title>

    <!--style sheet ekak link karanne mehemai-->
    <link data-th-href="@{/fav.jpg}"  rel="shortcut icon" >
    <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet" >
    <link data-th-href="@{/css/fontawsom-all.min.css}" rel="stylesheet">
    <link data-th-href="@{/css/style.css}" rel="stylesheet">
</head>
<body class="h-100">
<div class="container-fluid full-bg h-100">
    <div class="container h-100">

        <div class="row no-margin">
            <div class="bg-layer  ">
                <form th:action="${'/login'}" method="post">

                    <div class="login-box row">
                        <img data-th-src="${'../img/logo.jpg'}" alt="Company log" style="width:250px;height:100px;"  id="logo" class="animated-spin">
                        <h2>User login</h2>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-at"></i></span>
                            </div>
                            <input type="text" class="form-control form-control-sm" th:name="${'username'}" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control form-control-sm" th:name="${'password'}" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                        </div>

                        <button class="btn btn-default">Click to Login</button>

                        <p class="no-c"> <a href="#"></a></p>

                    </div>

                </form>
            </div>
        </div>

        <div class="foter-credit">
            <a href="">Designed by : Nimal Stores(Pvt)Ltd..</a>
        </div>


    </div>

</div>

<!--footer include-->
<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
<!--script include-->
<script th:replace="~{fragments/script :: scriptFragment}"></script>

<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/main.js"></script>


</body>
</html>